body {
    background-color: black;
    color: rgba(255,255,255,0.8);
}

#landing{
    height: 100vh;
    background-image: url("https://coolbackgrounds.io/images/backgrounds/index/compute-9be870b0.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
#mainText{
    margin-top: 30vh;
	color: white;
}

input, textarea{
	color: white;
}
