body {
	background: #f0f0f0 !important;
}
#aboutMe{
	margin-left: 10%;
	padding: 24px;
}
.card{
	padding: 24px;
}
.brand-logo{
	margin-left: 12px;
}
#header{
	color: white;
}
#image{
	height: 250px;
	width: 250px;
}
#form{
	margin-left: 10%;
}
#formCard{
	background: white;
	height: 500px;
	margin-top: 32px;
}
#portfolio{
	margin-left: 10%;
	margin-top: 24px;
}
